<h1>Automatic Grading</h1>

<p>Automatic Grading awards 1 point to the student for every submission to the audio, video or essay question types.  </p>
<p>When Automatic Grading is disabled audio, video or essay questions are not scored until the instructor awards grades by hand.</p>
