<h1>Automatic Grading</h1>

<p>If set to "yes", this will automatically grade any manually-graded questions (Essays, Audio questions, Video questions) in the lesson as correct, so every student will automatically get 100% on that question.</p>
