<h1>Default Correct Feedback</h1>

<p>When Display Default Feedback is enabled, this setting allows you to customize the text of the Default Correct Feedback shown when a student responds to a computer-graded question correctly.</p>