<h1>Default Incorrect Feedback</h1>

<p>When Display Default Feedback is enabled, this setting allows you to customize the text of the Default Incorrect Feedback shown when a student responds to a computer-graded question incorrectly.</p>