<h1>Display Default Feedback</h1>

<p>Setting this to Yes will display the Default correct feedback or the Default incorrect feedback when a student completes a computer-graded question type.  The values of Default feedback can be customize on a lesson by lesson basis.</p>
