<h1>Display Left Menu</h1>

<p>This will show a list of the pages (Branch Tables) in the lesson. Lessons that do not display the left menu force students to go through a lesson in the specified order of pages.  The left menu is the only way students can navigate a lesson.</p> 