<h2>Language Lessons</h2>

<ul>
<li> <a href="help.php?module=languagelesson&amp;file=activitylink.html">Activity Link</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=custom.html">Custom Scoring</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=deleteattempts.html">Delete student attempts for this lesson (user id)</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=dependency.html">Dependency</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=displayleft.html">Display Left Menu</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=grade.html"> The Grade of the Lesson </a></li>
<li> <a href="help.php?module=languagelesson&amp;file=handlingofretakes.html"> Handling of Re-takes</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=import.html"> Importing new questions</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=jumpto.html"> The Jump-to Link </a></li>
<li> <a href="help.php?module=languagelesson&amp;file=lessondefault.html">Use this lesson's settings as defaults</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=maxattempts.html"> The Maximum Number of Attempts (by a Student)</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=autograde.html"> Automatic Grading </a></li>
<li> <a href="help.php?module=languagelesson&amp;file=maxtime.html">Time Limit</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=mediafile.html">Pop-up file or web page</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=nextpageaction.html"> Action after a Correct Answer</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=showongoingscore.html">Ongoing Score</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=overview.html"> Overview</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=type.html">Lesson Type</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=progressbar.html">Progress Bar</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=questionoption.html"> Question Option</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=questiontypes.html">  Question Types</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=timed.html">Timed</a></li>
<li> <a href="help.php?module=languagelesson&amp;file=useeditor.html"> Use of the HTML Editor</a></li>
</ul>
