<h1>Context Colors in left menu</h1>

<p>This setting will show the titles of answered pages in the left menu with context colors and icons (green checkmarks for correct, red Xs for incorrect).  Essay, audio and video questions also show a blue speaker icon for questions that have submissions.</p>
