<h1>The Maximum Number of Attempts (per question)</h1>

<p>This value determines the maximum number of attempts a Student has
    to answer each question in the lesson. In the case of questions
    which do not provide the answer, for example Short Answer
    and Numerical questions, this value provides a necessary <i>escape routine</i> to
    the next page in the lesson. </p>

<p>The default value is unlimited for Practice and Assignment language lesson types, but is set to 1 for Test lesson typs.</p>

<p>Setting this value to one gives the students just one chance to answer each
    question. This gives a similar type of assignment to the Quiz module except
    that the questions are presented on individual pages.</p>

<p>Note that this value is global parameter and that it applies to all the
    questions in the lesson regardless of their type.</p>

<p>Note that this parameter does <b>not</b> apply to teachers checking
    of questions or navigating through the lesson. Checking the number of attempts
    relies on values stored in the database and question attempts by teachers are
    not recorded. The teacher should after all know the answers!</p>
