<p><img alt="" src="<?php echo $CFG->wwwroot?>/mod/languagelesson/icon.gif" />&nbsp;<b>Language Lesson</b></p>

<div class="indent">
A language lesson delivers assignments including both computer-graded questions, as well as essay or audio and video recordings. It consists of a number of pages designed as a linear exercise, or it can include branching based on student answers to computer-graded questions. Each page normally ends with a question and a number of 
possible answers. Depending on the student's choice of answer they either 
progress to the next page or are taken back to a previous page. Navigation 
through the lesson can be straight forward or complex, depending largely 
on the structure of the material being presented.
</div>
