<h1>Overview</h1>

<ol>
<li>A language lesson is made up of a number of <b>pages</b> and optionally <b>branch
    tables</b>.</li>
<li>A page contains some <b>content</b> and it normally ends with a
    <b>question</b>. Thus the term <b>Question Page</b>.</li>
<li>For Essay, Audio and Video Questions, there is no answer, just a score, feedback, and a page jump.</li>
<li>Each answer can have a short piece of text which is displayed if the answer is
    chosen. This piece of text is called the <b>feedback</b>.</li>
<li>Also associated with each answer is a <b>jump</b>. The jump can be relative -
    this page, next page - or absolute - specifying any one of the pages in the
    lesson or the end of the lesson.</li>
<li>By default, the first answer jumps to the <b>next page</b> in the lesson. The subsequent
    answers jump to the same page. That is, the student is shown the same page of the
    lesson again if they do not chose the first answer. If you have already created a
    cluster with an end of cluster, and the question is within it, you can also choose
    to jump to an Unseen Question within the cluster. This option will not be shown if
    you are not in a cluster. You can surround a set of questions with cluster and end
    of cluster at any time.</li>
<li>The next page is determined by the language lesson's <b>logical order</b>. This is
    the order of the pages as seen by the teacher. This order can be altered
    by moving pages within the language lesson.</li>
<li>The language lesson also has a <b>navigation order</b>. This is the order of the
    pages as seen by the students. This is determined by the jumps specified
    for individual answers and it can be very different from the logical order.
    (Although if the jumps are <i>not</i> changed from their default values
     the two are strongly related.) The teacher has the option to check the
    navigation order.</li>
<li>When displayed to the students, the answers are usually shuffled. That is,
    the first answer from the teacher's point of view will not necessarily be
    the first answer in the list shown to the students. (Further, each time the
    same set of answers is displayed they are likely to appear in a different
    order.) The exception is sets of answers for matching-type questions, here
    the answers are shown in the same order as input by the teacher. </li>
<li>The number of answers can vary from page to page. For example, it is allowed
    that some pages can end with a true/false question while others have questions
    with one correct answer and three, say, distractors. </li>
<li>It is possible to set up a page without any answers. The students are shown
    a <b>Continue</b> link instead of the set of shuffled answers.</li>
<li>Questions can have more than one correct answer. For example, if two of the answers
    jump to the next page then either answer is taken as a correct answer. (Although
    the same destination page is shown to the students, the responses shown on the way
    to that page may well be different for the two answers.)</li>
<li><b>Branch tables</b> are simply pages which have a set of links to other
    pages in the lesson. Typically a lesson may start with a branch table which
    acts as a <b>Table of Contents</b>.</li>
<li>Each link in a branch table has two components, a description and the title
    of the page to jump to.</li>
<li>A branch table effectively divides the language lesson into a number of
    <b>branches</b> (or sections). Each branch can contain a number of pages
    (probably all related to the same topic). The end of a branch is usually
    marked by an <b>End of Branch</b> page. This is a special page which, by
    default, returns the student back to the preceding branch table. (The
    &quot;return&quot; jump in an End of Branch page can be changed, if
    required, by editing the page.) </li>
<li>There can be more than one branch table in a language lesson. For example, a language lesson
    might usefully be structured so that specialist points are sub-branches
    within the main subject branches.</li>
<li>The <b>end of the lesson</b> is reached by either jumping to that location explicitly
    or by jumping to the next page from the last (logical) page of the lesson. When the end of the lesson is reached, the student receives a
    congratulations message and is shown their grade. The grade is (the number of
    questions correctly answered / number of pages seen) * the grade of the lesson. If automatic grading is off, students will also be shown the number of questions that are awaiting grading by the instructor.</li>
<li>If the end of the lesson is <i>not</i> reached and the student just leaves,
    when the student goes into the lesson again they are given the choice of
    starting at the beginning or picking up the lesson where they answered their
    last correct answer.</li>
<li>For a lesson which allows multiple attempts on questions, the teacher has the choice of using penalties for incorrect answers.  With penalties enabled, the teacher can choose to impose a mean of attempts to the question score, or to subtract a set percentage of the question max points.  With penalties enabled incorrect answers are graded as 0 until they are answered correctly, at which time the &quot;final&quot; grade for that question is full credit.  The cumulative score for the langauge lesson is shown on the Grades page of the course.</li>
<li>Cluster pages: a cluster represents a set of questions from which one or more
    may be randomly chosen. Clusters should be completed with an End of Cluster page for
    best results (otherwise they treat the End of Lesson as the EOC). Questions within a
    cluster are randomly selected by choosing "Random Question within a Cluster" as a
    jump. Questions within a cluster may either link to the EOC to exit the cluster, or
    jump to an unseen question within the cluster, or jump to any other page in the
    lesson. This also enables the creation of scenarios with a random element using the
    language lesson module.</li>
</ol>

