<h1>Penalty Type</h1>

<p>Penalty Type becomes available when the Use Penalty setting is set to Yes.  Penalties apply to computer-graded question types, such as multiple choice, short answer, and true/false. There are two types of pentalties to choose from.</p>

<h2>Use Mean</h2>
<p>This setting will average the scores for all attempts on a particular question.  For example, if a student answers a 1 point question wrong two times and then answers it correctly on the third try, they will earn .33 points for that question.</p>

<h2>Subtract Set Penalty</h2>
<p>Subtract set penalty allows the instructor to set the value of the penalty subtracted for each incorrect answer.  For example, if a student answers a 1 point question incorrectly two times with the Penalty Value set to 10% then the score student will be awarded .8 points for that question. </p>