<h1>Use penalty</h1>

<p>Use Penalty allows the instructor to impose a penalty on incorrectly answered computer-graded questions.  When set to Yes, you can then set the Penalty Type to either use a mean of the individual question attempts or to subtract a set penalty for each incorrect response.  If you choose to subtract a set penatly, you can define that penalty in the Penalty Value box.</p>