<h1>Question Option</h1>

<p>A few of the Question Types have an option which is activated by clicking on
    the checkbox. The question types and the meaning of the options are 
    detailed below.</p>

<ol>
<li><p><b>Multiple Choice</b> There is variant of Multiple Choice questions called 
    <b>&quot;Multiple Choice Multianswer&quot;</b> questions. If the Multianswer option is selected then the student is required to select all the 
    correct answers from the set of answers. The question may or may not tell 
    the student <i>how many</i> correct answers there are. For example &quot;Which of the 
    following were US Presidents?&quot; does not, while "Select the two US 
    presidents from the following list." does. The actual number of correct 
    answers can be from <b>one</b> up to the number of choices. (A Multiple Choice 
    Multianswer question with one correct answer <b>is</b> different from a 
    Multiple Choice question as the former allows the student the possibility of 
    choosing more than one answer while the latter does not.)</p></li>

<li>
  <p><b>Short Answer or Cloze</b> You can make the answers to the Short Answer or Cloze questions case sensitive by checking the Case Sensitive checkbox.  If you do not check this box, the answer will not be case sensitive.  For example, if the answer to a question is Timbuktu, checking Case sensitive will require the uppercase T at the beginning of the word.  Without case sensitivity, either Timbuktu or timbuktu will be accepted.</p>
</li>
</ol>
<p>The other Question Types do not use the Question Option.</p>
