<h1>Question Types</h1>

<p>The types of Questions currently supported by the Language Lesson module are:

<ol>
<li><p><b>Multiple choice</b> This is the default question type. Multiple choice questions
    are popular questions where the student is asked to choose one answer from a
    set of alternatives. The correct answer takes the student further into the
    lesson, the wrong answers do not. The wrong answers are sometimes called the
    &quot;distractors&quot; and the utility of these questions often rely more
    on the quality of the distractors than either the questions themselves or their
    correct answers.</p>

<p> Each answer can optionally have customized feedback. If no feedback is
    entered for an answer then the default feedback &quot;That's the Correct
    Answer&quot; or &quot;That's the Wrong Answer&quot; is shown to the student.  </p>

<p>It is possible to have more than one correct answer to a Multiple choice question.
    The different correct answers may give the student different feedback and
    jump to different (forward) pages in the lesson but
    do not vary in their grades, (that is, some answers are <b>not</b> more correct
    than others, at least in terms of grade.) It is possible for all the answers
    to be correct and they might take the student to different (forward) parts of
    the lesson depending on which one is chosen.</p>

<p>There is variant of Multiple choice questions called <b>&quot;Multiple choice
    Multianswer&quot;</b> questions. These require the student to select all the
    correct answers from the set of answers. The question may or may not tell
    the student how many correct answers there are. For example &quot;Which of the
    following were US Presidents?&quot; does not, while "Select the two US
    presidents from the following list." does. The actual number of correct
    answers can be from <b>one</b> up to the number of choices. (A Multiple choice
    Multianswer question with one correct answer <b>is</b> different from a
    Multiple choice question as the former allows the student the possibility of
    choosing more than one answer while the latter does not.)</p></li>

<li><p><b>True/False</b> The answer to this type of question only has two options,
    true or false. The student is prompted to choose which is the correct
    option. This type of question is basically a Multiple choice question with just
    two choices.</p></li>
    
<li><p><b>Short Answer</b> </p>
  <p>The student is prompted for a short piece of text.
    This is checked against one or more answers. Answers can be either correct
    or wrong. Each answer can optionally have customized feedback. If no feedback is
    entered for an answer then the default response &quot;That's the Correct
    Answer&quot; or &quot;That's the Wrong Answer&quot; is shown to the student.
    If the text entered does not match any of the answers the question is wrong
    and the student is shown the default wrong response.</p>
    <p>Check the Case Sensitive box to enforce case sensitivity.  If checked, answers submitted that do not match the case of the provided answers will be considered wrong.</p>
</li>

<li><p><b>Cloze</b> </p>
  <p>Cloze exericses allow you to insert gaps into a larger piece of text for the students to complete in text.  Instructors can mark gaps by using the Anchor button in the WYSIWYG editor, naming the anchor the number of the question.  Below the WYSIWYG editor, there are text boxes where you can specify the answer.  Gaps are presented as text boxes, unless you check the Use Drop-down Box checkbox and provide a comma-separated list of possible answers.  It is possible to mix text field gaps and drop-down menu gaps in the same question. </p>
  <p>Rather than having customized feedback per gap, instructors can customize the 'correct' and 'incorrect' feedback for the question as a whole.</p>
    <p>Check the Case Sensitive box to enforce case sensitivity.  If checked, answers submitted that do not match the c
    case of the provided answers will be considered wrong.</p>
</li>

<li><p><b>Matching</b> These consist of a list of names or statements which must be correctly matched
    against other list of names or statements. For example &quot;Match the
    Capital with the Country&quot; with the two lists Japan, Canada, Italy and
    Tokyo, Ottawa, Rome. It is possible to have repeated entries in one of the
    lists but care should be taken to make the repeats identical. For example
    &quot;Identify the type of these creatures&quot; with the lists Sparrow,
    Cow, Ant, Dog and Bird, Animal, Insect, Animal. </p>

<p>When creating this type of question the items for the first list go into the
    Answer boxes and items for the second list go into the Response boxes. Once
    created a more sensible labeling scheme is shown. When the student
    successfully matches the items the jump on the first answer is used. An
    unsuccessful answer jumps to the page on the second answer. The question does
    <b>not</b> support custom responses, the student is told how many matches
    are correct or if all the matches are correct.</p>

<p>Unlike the Multiple choice question where the choices are shown in a random
    order, the first list of items is <b>not</b> shuffled but shown in the same
    order as entered. This allows for <b>&quot;Ordered&quot;</b> questions to be
    constructed. Consider the question &quot; Put the following into the order
    they were born, the earliest first&quot; with the lists 1., 2., 3., 4. and
    Longfellow, Lawrence, Lowell, Larkin. The second list is shuffled before
    being used in the question, of course.</p></li>

<li><p><b>Numerical</b> This type of question requires a number as the answer.
    In it's simplest form it requires just one answer to be specified. For
    example &quot;What is 2 plus 2?&quot; with the answer 4 given a forward
    jump. However, it is better to specify a range because the internal rounding
    of numerical values can make single numeric comparisons rather hit or miss.
    Thus, if the question were &quot;What is 10 divided by 3&quot; it would be
    necessary to give the answer as <b>&quot;Minimum:Maximum&quot;</b>, that
    is <b>two</b> values separated by a colon (:). Thus if 3.33:3.34 is given as the
    acceptable range for the answer, then the answers 3.33, 3.333, 3.3333...
    would all be taken as correct answers. &quot;Wrong&quot; answers would
    include 3.3 (less than the minimum) and 3.4 (greater than the maximum).</p>

<p>More than one correct answer is allowed and the answers can be either single
    or pair of values. Note that the order in which the answers are tested is
    Answer 1, Answer 2... so some care needs to taken if the desired response
    is to appear. For example the question &quot;When was Larkin born?&quot;
    could have the single value of 1922, the exact answer, and the pair of
    values 1920:1929, the 20's, as the less exact answer.The order in which
    these values should be tested is, obviously, 1922 then 1920:1929. The
    first answer might have the response &quot;That's exactly right&quot;
    while the other answer's response might be &quot;That's close, you've got
    the right decade&quot;</p>

<p>Wrong answers can be given but depending on their actual range, care should
    be taken to place them after the correct answers. For example in adding the
    wrong answer 3:4 to the &quot;10 divided by 3&quot; question it needs to come
    after the correct answer. That is the answers are ordered 3.33:3.34 (the
    &quot;correct&quot; answer) then 3:4 (the &quot;wrong&quot; answer, but
    not wildly wrong answer!).</p></li>

<li><p><b>Essay</b> </p>
  <p>Essay questions present students with the WYSIWYG editor so that they can type in a longer response to be evaluated by the instructor later.</p>
</li>

<li><p><b>Audio</b> </p>
  <p>Audio questions present the student with an audio recorder embedded in the middle of the page directly below the question prompt text.  Students can record their oral responses as many times as necessary before submitting a response to the question.  The length of the audio recording is directly dependant on the upload file size limit imposed by the Moodle server, course and assignment settings.</p>
</li>

<li><p><b>Video</b> </p>
  <p>Video questions present the student with a video recorder embedded in the middle of the page directly below the question prompt text.  Students can record their responses as many times as necessary before submitting a response to the question.  The length of the video recording is directly dependant on the upload file size limit imposed by the Moodle server, course and assignment settings.</p>
</li>
</ol>