<h1>Display previous answer</h1>

<p>Display previous answer will show the student their previous answers to multiple choice, short answer or true/false questions when they enter a Language Lesson for a second time. It is recommended to disable this feature if you intend the students to reuse language lessons for practice or review.</p>