<h1>Timed</h1>

<p>This puts a time limit on the language lesson. Students are shown a JavaScript counter and
the time is recorded in the database. Due to the inconsistent nature of JavaScript,
the timer does not evict a student from the lesson when the time is up, however a
question answered after the time limit is not counted. The time in the database is
checked each time a student submits a question.</p>