<h1>Lesson Type</h1>

<h2>Practice</h2>

<p>A Practice lesson will NOT appear as an entry in the Gradebook for this assignment.  It also defaults to showing default feedback and disables the option to show ongoing score (because scoring is irrelevant).</p>

<h2>Assignment</h2>
<p>An Assignment lesson will appear as an entry in the gradebook and allow access to customize all feedback and grading options.</p>

<h2>Test</h2>
<p>A Test lesson will appear as an entry in the gradebook, and sets the default number of (question) attempts to 1, and also sets the <a href="https://moodle.carleton.edu/help.php?module=languagelesson&file=showoldanswer.html&forcelang=">Display Previous Answer</a> to No.  However, these options can be changed.</p>